/* login.css */

.login{
    background-color: #dadcde;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 80%;
    max-width: 400px;
    background-color: #f8f9fa;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
  }
  
  form > h1 {
    border-bottom: 1px solid #dadcde;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
  }
  
  form > input.login-input {
    width: 100%; 
    padding: 15px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
  }
  form > input.invalid:focus {
    border-color: red;
  }
  
  
  form > button.login-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    width: 50%;
  }
  
  form > button.login-button:hover {
    background-color: #2980b9;
  }
  
  /* Small devices (landscape phones) */
  @media only screen and (max-width: 576px) {
    .login > form {
      width: 90%;
      padding: 10px;
    }
  
    form > button.login-button,
    form > input.login-input {
      width: 90%; 
    }
  }
  